langgraph

langchain
langchain-core
langchain-community
langchain-groq

langchain-text-splitters
langchain-huggingface

chromadb

sentence-transformers

pandas
numpy

plotly

pypdf

tiktoken

huggingface-hub

transformers

torch
